#symbiocivicrm-statusbox-progressbar {
  margin-top: 0.5em;
}
#symbiocivicrm-statusbox-progressbar > div {
  height: 10px;
  background: #44cb7e;
  border: 1px solid #CCC;
}

#symbiocivicrm-statusbox-ready .symbiocivicrm-statusbox-btn-wrapper {
  display: block;
  text-align: center;
  /* top has margin from previous paragraph */
  padding: 0.5em 0 1em 0;
}

#symbiocivicrm-statusbox-ready .symbiocivicrm-statusbox-btn-wrapper .btn-success {
  color: white;
  text-transform: none;
  font-size: 27px; /* match jumbotron */
  font-weight: normal;
}

#symbiocivicrm-statusbox-ready.hidden {
  display: none;
}
